<div>
    <form class="p-3" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="name">Prénom Nom</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Le nom est requi">
                <input [(ngModel)]="user.name" formControlName="name" nz-input name="name" type="text" id="name">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="name">Adresse Email</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="L'adresse mail est requi">
                <input [(ngModel)]="user.email" formControlName="email" nz-input name="email" type="email" id="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="universite">Role</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Selectionner un role au moins">
                <nz-select formControlName="roles" nzMode="multiple" name="roles" id="roles" nzPlaceHolder="Donner des roles" nzAllowClear [(ngModel)]="user.roles">
                    <ng-container *ngFor="let o of roles">
                        <nz-option *ngIf="!isLoad" [nzValue]="o.name" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoad" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> Chargement des données
                    </nz-option>
                </nz-select>
            </nz-form-control>

        </nz-form-item>
    </form>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal(null)">Annuler</button>
    <button nz-button nzType="primary" (click)="createUser()" [disabled]="!validateForm.valid" [nzLoading]="isBtnLoad">Ajouter</button>
</div>