.m-input {
    padding: 5px;
    border: #d2d2d2 1px solid;
    border-radius: 8px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}