<form nz-form [formGroup]="validateForm" (ngSubmit)="submitCreateForm()">
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="6" nzFor="email">Nom du resto</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Le nom est requi">
            <input formControlName="name" nz-input class="m-input shadow-sm" name="name" type="text" id="name">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-select formControlName="universite" [(ngModel)]="resto.universite_id">
            <nz-option *ngFor="let item of univs" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
    </nz-form-item>
    <nz-form-item>
        <nz-select formControlName="repreneur" [(ngModel)]="resto.repreneur_id">
            <nz-option *ngFor="let item of repreneurs" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
    </nz-form-item>


    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button class="mx-2" mat-raised-button color="warn" (click)="closeModal()">Annuler</button>
            <button mat-raised-button color="primary" (click)="createResto()">Ajouter</button>
        </nz-form-control>
    </nz-form-item>
</form>